<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>All Blog Posts</h1>
    <div>
        <table>
            <tr>
                <th>Title</th>
                <th>Preview</th>
                <th>Author</th>
                <th>Created</th>
                <th></th>
                <th></th>
            </tr>
            {{#if isAdmin}}
                {{#each newAllPosts}}
                    <form action="/allPosts" method="POST">
                        <tr>
                            <td>{{this.blog.title}}</td>
                            <td>{{this.blog.body}}</td>
                            <td>{{this.blog.user.name}}</td>
                            <td>{{this.date}}</td>
                            <td><button type="submit" name="editpost" value={{this.blog._id}} formaction="/editPost/{{this.blog._id}}">Edit</button></td>
                            <td><button type="submit" name="deletepost" value={{this.blog._id}} >Delete</button></td>  
                        </tr>
                    </form>
                {{/each}}
            {{else}}
                 {{#each newAllPosts}}
                    <tr>
                        <td>{{this.blog.title}}</td>
                        <td>{{this.blog.body}}</td>
                        <td>{{this.blog.user.name}}</td>
                        <td>{{this.date}}</td> 
                    </tr>
                {{/each}}
            {{/if}}
        </table>
    </div>

</body>
</html>