<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>All Users</h1>
    <div id="table-container" >
        <table id="table">
            <tr>
                <th class="table-style">Name</th>
                <th class="table-style">email</th>
                <th class="table-style"></th>
                <th class="table-style"></th>
            </tr>
        {{#if isAdmin}}
            {{#each user}}
                <form action="/allUsers" method="POST">
                    <tr>
                        <td class="table-style">{{this.name}}</td>
                        <td class="table-style">{{this.email}}</td>
                        <td class="table-style"><button type="submit" name="deleteuser" value={{this._id}} >Delete</button></td> 
                </form> 
                        <td class="table-style"><a href="/editother/{{this._id}}" ><button>Edit</button></a></td>
                    </tr> 
                
            {{/each}}
        {{else}}
            {{#each user}}
                <tr>
                    <td class="table-style">{{this.name}}</td>
                    <td class="table-style">{{this.email}}</td>
                </tr>  
            {{/each}}
        {{/if}}
        </table>
    </div>
</body>
</html>