<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>{{this.name}}'s Blog Posts</h1>
    <div>
        <table>
            <tr>
                <th>Title</th>
                <th>Preview</th>
                <th>Created</th>
                <th></th>
                <th></th>
            </tr>
            {{#each userPosts}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.body}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="/editPost/{{this.id}}" value={{this.id}} ><button>Edit</button></a></td>
                    <td><a href="/deletePost/{{this.id}}" value={{this.id}} ><button>Delete</button></a></td>  
                </tr>
            {{/each}}
        </table>
    </div>

</body>
</html>